In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('Assignment_5.1.csv')

In [78]:
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

Normalization <br>
Standardization <br>
Log Transformation <br>
Robust Scaler <br>
Max Absolute Scaler

# Normalization

#### Manually

In [79]:
minOf_X = df['Price'].min()

In [80]:
minOf_X

100

In [81]:
maxOf_X = df['Price'].max()

In [82]:
maxOf_X

150

In [83]:
df['price_norm_manual'] = (df['Price'] - minOf_X) / (maxOf_X - minOf_X)

In [84]:
df

   Price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2
5    130                0.6
6    150                1.0
7    100                0.0
8    105                0.1

#### Using Sklearn <b>

In [85]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

In [86]:
df['price_norm_sklearn'] = mms.fit_transform(df[['Price']])

In [87]:
df

   Price  price_norm_manual  price_norm_sklearn
0    110                0.2                 0.2
1    105                0.1                 0.1
2    115                0.3                 0.3
3    120                0.4                 0.4
4    110                0.2                 0.2
5    130                0.6                 0.6
6    150                1.0                 1.0
7    100                0.0                 0.0
8    105                0.1                 0.1

# Standardization

#### Manually

In [88]:
mean_x = np.mean(df['Price'])

In [89]:
mean_x

116.11111111111111

In [90]:
std = df['Price'].std(ddof=0) #not N-1

In [91]:
std

14.677605348469895

In [92]:
df['price_stand_manual'] = (df['Price'] - mean_x) / std

In [93]:
df

   Price  price_norm_manual  price_norm_sklearn  price_stand_manual
0    110                0.2                 0.2           -0.416356
1    105                0.1                 0.1           -0.757011
2    115                0.3                 0.3           -0.075701
3    120                0.4                 0.4            0.264954
4    110                0.2                 0.2           -0.416356
5    130                0.6                 0.6            0.946264
6    150                1.0                 1.0            2.308884
7    100                0.0                 0.0           -1.097666
8    105                0.1                 0.1           -0.757011

#### Using sklearn

In [94]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

In [95]:
df['price_stand_sklearn'] = std_scaler.fit_transform(df[['Price']])

In [96]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn
0,110,0.2,0.2,-0.416356,-0.416356
1,105,0.1,0.1,-0.757011,-0.757011
2,115,0.3,0.3,-0.075701,-0.075701
3,120,0.4,0.4,0.264954,0.264954
4,110,0.2,0.2,-0.416356,-0.416356
5,130,0.6,0.6,0.946264,0.946264
6,150,1.0,1.0,2.308884,2.308884
7,100,0.0,0.0,-1.097666,-1.097666
8,105,0.1,0.1,-0.757011,-0.757011

# Log Transformation

#### Manually with numpy

In [97]:
df['price_logTrans_manual'] = np.log1p(df['Price'])

In [98]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn,price_logTrans_manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439

#### Using Sklearn

In [99]:
from sklearn.preprocessing import FunctionTransformer
logTrans = FunctionTransformer(np.log1p)

In [100]:
df['Price_logTrans_sklearn'] = logTrans.fit_transform(df[['Price']])

In [101]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn,price_logTrans_manual,Price_logTrans_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439

# Robust Scaler

#### Using Sklrean
##### note: unable to do manually because no idea about in-depth mathematical operation

In [102]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [103]:
df['price_robustScaler_sklearn'] = rs.fit_transform(df[['Price']])

In [104]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn,price_logTrans_manual,Price_logTrans_sklearn,price_robustScaler_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333

# Max Absolute Scaler

#### Manually

In [109]:
mxABS = df['Price'] / np.abs(np.max(df['Price']))

In [110]:
df['price_MABS_manual'] = mxABS

In [111]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn,price_logTrans_manual,Price_logTrans_sklearn,price_robustScaler_sklearn,price_MABS_manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,0.700000

#### Using Sklearn

In [112]:
from sklearn.preprocessing import MaxAbsScaler
mxABS2 = MaxAbsScaler()
df['price_MABS_sklearn'] = mxABS2.fit_transform(df[['Price']])

In [113]:
df

,Price,price_norm_manual,price_norm_sklearn,price_stand_manual,price_stand_sklearn,price_logTrans_manual,Price_logTrans_sklearn,price_robustScaler_sklearn,price_MABS_manual,price_MABS_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.733333,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,0.700000,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.766667,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.800000,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.733333,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,0.866667,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,1.000000,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,0.700000,0.700000